@tailwind base;
@tailwind components;
@tailwind utilities;

/* :link {
  color: rgb(0, 0, 0);
  margin-left: 3%;
  margin-right: 3%;
  font-size: 30px;
  font-family: Shrikhand;
} */

:root {
  background-image: url(https://cdn.discordapp.com/attachments/973631615832051782/1107855059175346216/Screen_Shot_2023-05-15_at_10.20.23_PM.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 100%;
  height: 100%;
}

nav.header {
  display: flex;
  /*justify-content: center;*/
  padding-left: 20%;
  margin-top: 2%;
}

.lstyles {
  font-size: 30px;
}

p.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

p {
  color: black;
  /* font-size: larger; */
}

.card {
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 9%;
}

h1 {
  font-weight: bolder;
  font-size: 30px;
}

label {
  font-weight: 400;
  font-size: 30px;
}

.form__group {
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: gray;
}

.form__field:focus {
  ~ .form__label {
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  padding-bottom: 10px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11996e, #38ef7e);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* div {
  text-align: center;
  justify-content: center;
  margin: auto; 
} */

.button {
  background-color: white;
  padding: 12px 28px;
  border-radius: 4px;
  color: black;
  border: 2px solid black;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: black;
  color: white;
}

div.items {
  margin-top: 30%;
  align-items: center;
  font-size: x-large;
}

div.latest{
  margin-top: 15%;
  height: 60px;
  width: 150px;
    --g: 4px;     /* the gap */
    --b: 8px;    /* border thickness*/
    --c: #9643a2; /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  
}

div.latest:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}



@font-palette-values --Grays {
  font-family: Rocher;
  base-palette: 9;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.grays {
  font-palette: --Grays;
}

.purples {
  font-palette: --Purples;
}

.mint {
  font-palette: --Mint;
}

h2.purples{
  font-family: 'Rocher';
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}